parameters:
	ignoreErrors:
		-
			message: "#^Method Vipul\\\\CI3ToCI4Compatible\\\\Library\\\\CI_Parser\\:\\:parse\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: src/CI3ToCI4Compatible/Library/CI_Parser.php

		-
			message: "#^Method Vipul\\\\CI3ToCI4Compatible\\\\Library\\\\CI_Parser\\:\\:parse_string\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: src/CI3ToCI4Compatible/Library/CI_Parser.php

